<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Journal</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="head">
        <h3>DAILY JOURNAL</h3>
        <div class="links">
            <a href="https://safe-taiga-75006.herokuapp.com/">HOME</a>
            <a href="https://safe-taiga-75006.herokuapp.com/compose">COMPOSE</a>
            <a href="https://safe-taiga-75006.herokuapp.com/about">ABOUT US</a>
            <a href="https://safe-taiga-75006.herokuapp.com/contact">CONTACT US</a>
        </div>
    </div>